<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Échec du paiement de votre adhésion</h1>
    
    <p>Bonjour <%= @user.first_name || @user.email %>,</p>
    
    <p>Le paiement de votre adhésion pour la saison <strong><%= @membership.season %></strong> a échoué.</p>
    
    <p>Votre adhésion est toujours en attente de paiement. Vous pouvez réessayer en cliquant sur le lien ci-dessous :</p>
    
    <p><%= link_to "Reprendre le paiement", membership_url(@membership), class: "button" %></p>
    
    <p>Si le problème persiste, n'hésitez pas à nous contacter.</p>
    
    <p>L'équipe Grenoble Roller</p>
  </body>
</html>
