<!-- Grenoble Roller Navbar -->
<nav class="navbar navbar-grenoble-roller navbar-expand-lg navbar-liquid sticky-top shadow-liquid mb-4">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold d-flex align-items-center" href="<%= root_path %>">
      <i class="bi bi-roller-skate me-2 fs-4"></i>
      <span>Grenoble Roller</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarComponent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarComponent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path %>">Accueil</a>
        </li>
      </ul>
      <div class="d-flex">
        <button class="btn btn-outline-primary" onclick="toggleTheme()">
          <i class="bi bi-moon-fill" id="theme-icon"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
