<% 
  breadcrumb_items = [
    { label: "Produits", url: admin_panel_products_path },
    { label: "Nouveau produit", url: nil }
  ]
%>

<%= render 'admin_panel/shared/breadcrumb', breadcrumb_items: breadcrumb_items %>

<h1 class="mb-4">Nouveau produit</h1>

<%= render 'form' %>
