# examples:
#   periodic_cleanup:
#     class: CleanSoftDeletedRecordsJob
#     queue: background
#     args: [ 1000, { batch_size: 500 } ]
#     schedule: every hour
#   periodic_cleanup_with_command:
#     command: "SoftDeletedRecord.due.delete_all"
#     priority: 2
#     schedule: at 5am every day

development:
  # Job de rappel 24h avant les événements (test en dev)
  event_reminder:
    class: EventReminderJob
    queue: default
    schedule: every day at 9:00am

production:
  clear_solid_queue_finished_jobs:
    command: "SolidQueue::Job.clear_finished_in_batches(sleep_between_batches: 0.3)"
    schedule: every hour at minute 12
  
  event_reminder:
    class: EventReminderJob
    queue: default
    schedule: every day at 9:00am